@import '../1-helpers/variables';
@import '../1-helpers/mixins';

.menu__content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;

  h1 {
    font-family: map-get($fonts, regular);
    font-size: map-get($font-sizes, s-extra-large);
  }
}

.menu__content_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  width: 325px;
  flex-wrap: wrap;

  h3 {
    font-family: map-get($fonts, regular);
    font-size: map-get($font-sizes, s-large);
    margin: 0 35px;
    padding: 20px 0;
  }

  .menu__nav__link_active::after {
    content: '';
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    bottom: 10px;
    left: 25%;
    height: 4px;
    width: 50%;
    right: 0;
    background-color: $dark-brown;
  }

  .menu__nav__link {
    position: relative;
  }

  @include dekstop {
    flex-wrap: nowrap;
    width: 710px;
    justify-content: space-between;

    h3 {
      margin: 0;
      padding: unset;
    }

    .menu__nav__link_active::after {
      width: 100%;
      left: 0;
      bottom: -10px;
    }
  }
}
