@import '../1-helpers/variables';
@import '../1-helpers/mixins';

.mrch-main {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.mrch-container {
  position: relative;
  padding: $padding-container-mobile;
  margin-bottom: 50px;
  margin-top: -50px;

  h1 {
    font-family: map-get($fonts, regular);
    font-size: map-get($font-sizes, s-large);
    font-weight: map-get($font-weight, medium);
    text-align: left;
    display: block;
    margin-bottom: 50px;

    @include dekstop {
      font-size: map-get($font-sizes, s-extra-large);
    }
  }

  @include dekstop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: unset;
    width: 100%;
    max-width: 1366px;
    padding: unset;
    margin: 150px 0 0 0;

    h1 {
      align-self: flex-start;
      margin-left: 130px;
    }
  }
}

.mrch-catalog {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -30px;
  justify-content: space-between;
  height: 1050px;
  margin-left: 7px;

  img {
    width: 344px;
    height: auto;
  }

  @include dekstop {
    flex-direction: row;
    height: unset;
    width: 1090px;
    margin-top: 40px;

    img:nth-child(2) {
      transform: translateY(30%);
    }

    img:nth-child(3) {
      transform: translateY(-20%);
    }
  }
}

.mrch-button {
  display: flex;
  width: 360px;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  margin: 50px auto;

  button:nth-child(1) {
    width: 170px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: $dark-brown;
    color: white;
    font-family: map-get($fonts, light);
    font-size: map-get($font-sizes, s-extra-mini);
    height: 100%;
    letter-spacing: 3px;
    font-weight: map-get($font-weight, bold);
    transition: all 0.3s ease;
  }

  button:nth-child(1):hover {
    transform: translateY(-5px);
  }

  button:nth-child(2) {
    width: 170px;
    padding: 15px;
    outline: none;
    border: 1px solid $dark-brown;
    background: none;
    margin-top: 20px;
    color: $dark-brown;
    font-family: map-get($fonts, light);
    font-size: map-get($font-sizes, s-extra-mini);
    height: 100%;
    letter-spacing: 3px;
    font-weight: map-get($font-weight, bold);
    transition: all 0.3s ease;
  }

  button:nth-child(2):hover {
    transform: translateY(-5px);
  }

  @include dekstop {
    flex-direction: row;
    height: unset;
    margin: 150px auto;

    button:nth-child(2) {
      margin-top: unset;
    }
  }
}
