@import '../1-helpers/variables';
@import '../1-helpers/mixins';

.nav__options__outer {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 999;
  padding: 20px 20px;
  transition: 850ms;

  @include dekstop {
    width: 100%;
  }
}

.nav__options__outer.active {
  transition: 350ms;
  background-color: $dark-brown !important;

  @include dekstop {
    padding: 10px 0;
  }
}

.nav-options {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include dekstop {
    width: 100%;
    max-width: 1140px;
  }
}

.logo-couveejson.active {
  width: 40px;
  height: auto;
  filter: brightness(0) invert(2);
}

.nav-bars-icon {
  width: $icon-size;
  height: $icon-size;
}
.instagram-icon {
  width: $icon-size;
  height: $icon-size;
}

.nav-toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  outline: none;
}

.nav-close {
  width: 40px;
  height: 40px;
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: -100%;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  bottom: 0;
  transition: 350ms;
}

.nav__menu__each__items__container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav__menu__items__active::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 4px;
  left: -5px;
  width: 110%;
  vertical-align: baseline;
  text-align: center;
  background-color: $dark-brown;
}

.nav__menu__items:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 4px;
  left: -8px;
  width: 115%;
  vertical-align: baseline;
  text-align: center;
  background-color: $dark-brown;
  opacity: 80%;
  transition: 350ms;
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.overlay-logo {
  margin-bottom: 50px;

  @include dekstop {
    margin-bottom: 90px;
  }
}

.nav-title {
  font-size: 18px;
  margin: 10px 0;

  @include dekstop {
    font-size: 30px;
    margin: 20px 0;
  }
}

// .nav-title:hover {
//   transform: scale(1.2);
//   transition: 350ms;
// }
