$font-regular: Montserrat;
$font-medium: Montserrat Medium;
$font-semiBold: Montserrat SemiBold;
$white: #ffffff;
$dark-brown: #c8a27b;
$f-16: 16px;
$icon-size: 25px;
$font-weight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
$padding-left-center: 450px;
$padding-right-center: 450px;
