$font-regular: Nunito;
$font-medium: Nunito SemiBold;
$font-semiBold: Nunito SemiBold;

$white: #ffffff;
$dark-brown: #c8a27b;
$secondary-grey: #4f4f4f;

$f-16: 16px;
$icon-size: 25px;

$fonts: (
  'light': Nunito Light,
  'regular': Nunito,
  'medium': Nunito SemiBold,
  'semi-bold': Nunito Bold,
);

$font-weight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

$font-sizes: (
  's-extra-mini': 12px,
  's-small': 14px,
  's-regular': 16px,
  's-medium': 18px,
  's-large': 24px,
  's-extra-large': 36px,
);

$padding-container-dekstop: 0 400px 0 400px;
$padding-container-mobile: 0 15px 0 15px;

$margin-container-dekstop: 0 400px 0 400px;
$margin-container-mobile: 0 15px 0 15px;
